.finishedItem {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.finishedItem .content {
    flex: 1;
}

.finishedItem .date {
    font-size: 14px;
    color: gray;
}
