.TodoList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.TodoList > input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(220, 220, 220);
    padding: 15px 0;
    outline: none;
}

.TodoList > input:focus {
    border-bottom: 1px solid rgb(37, 147, 255);
}

.TodoList .Todos_wrapper ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.noTodo {
    text-align: center;
    margin-top: 20px;
}