* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  padding: 20px;
}

main {
  margin: 0 auto;
  width: 500px;
}

main > .title {
  text-align: center;
  margin-bottom: 20px;
}

/* sections */
.section {
  background-color: rgb(245,245,245);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}


/* 컨트롤러 */
ul.controll {
  display: flex;
  gap: 14px;
}

ul.controll button {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 4px 16px;
}

