#header {
    padding: 20px 0px;
    border-bottom: 1px solid rgb(226, 226, 266);
}

#header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

#header > ul > li {
    display: flex;
}

#header .header_center {
    width: 50%;
    font-size: 25px;
    justify-content: center;
}

#header .header_left {
    width: 25%;
    justify-content: flex-start;
}

#header .header_right {
    width: 25%;
    justify-content: flex-end;
}